<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

    <title>Home of Project Jam List</title>
</head>
<body>
  <div class="flex justify-center items-center">
    <div class="container flex rounded-lg my-4 p-4 mx-auto h-screen  bg-blue-200">
      <div class="w-full flex  gap-x-4 ">
        <div class ="w-full bg-gray-200 lg:w-1/3" >
          <h3>Shopping List</h3>
          <div class="contianer">
            <ul>
              <li>Banana</li>
              <li>Apple</li>
              <li>Milk</li>
            </ul>
      
          </div>
      
        </div>
        <div class="w-full bg-white">
          <h3>Grocery Item</h3>
      
        </div>
      
      </div>

    </div>

  </div> 
    
</body>
</html>