<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  </head>
  <body>

  <div>
    <h1>JAM<span class="yellow-text">List</span></h1>
    <h2>Shopping History</h2>
    <ul>
      <li>Aug20 <span class="purple-text">Costco</span></li>
      <li>Aug18 <span class="purple-text">Ralph</span></li>
      <li>Aug12 <span class="purple-text">Vons</span></li>
      <li>Jul28 <span class="purple-text">Trader Joe's</span></li>
    </ul>
  </div>

  <div>
    <h3>Thursday 26 Aug</h3>

    <div>
      Where would you like to go shopping?
    </div>

    <div>

    </div>

  </div>
  </body>
</html>
