<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home page</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  </head>
  <body>

  <div>
    <h1>JAM<span class="yellow-text">List</span></h1>
    <h2>Shopping History</h2>
    <ul>
      <!-- use ejs to make this info dynamic -->
      <li>Aug20 <span class="purple-text">Costco</span></li>
      <li>Aug18 <span class="purple-text">Ralph</span></li>
      <li>Aug12 <span class="purple-text">Vons</span></li>
      <li>Jul28 <span class="purple-text">Trader Joe's</span></li>

    </ul>
  </div>

  <div>
    <h3><%= new Date().toDateString() %></h3>

    <div class="purple-prompt">
      Where would you like to go shopping?
    </div>

    <div>

    </div>

  </div>
  </body>
</html>
