<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" type="text/css" href="/css/style.css" />
   <title>Shopping List Index Page</title>
 </head>
 <body class="font-body">
   <div class="flex justify-center items-center">
     <div class="container flex rounded-lg my-4 p-4 mx-auto h-full bg-indigo-50 justify-center">
       <div class="flex gap-x-4 md:w-2/3 lg:w-1/3 xl:max-w-full">
         <div class="w-full bg-purple-200">
           <div class="my-4">
             <h1 class="text-center mb-3 font-bold">New Grocery Item page</h1>
             <form action="/grocery-items" method="POST">
               <div class="mx-5">

                 <h1 class="text-center mb-3">Shopping List Index Page</h1><br>

                 <div class="flex justify-between">
                   <div class="bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded-full w-max h-max m-auto my-2">
                     <a href="/shopping-list/new">Create New List</a>
                   </div>
                 </div>

                 <div class="bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded-full w-max h-max m-auto">
                   <a href="/" for="name">Back Home</a><br>
                 </div>
               </div>
                  <div class="flex justify-between">
                      <h2 class="text-center mb-3 p-4 w-max h-max m-auto">Shopping List:</h2>
                      <ul>
                      <% for( let i = 0; i < shoppingList.length; i++ ) { %>
                   </div>

                   <div class="bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded-full w-max h-max m-auto my-2">
                     <li><a href="/shopping-list/<%=shoppingList[i]._id%>"><%=shoppingList[i].storeName%></a></li>
                     <% } %>
                   </ul>
                 </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
