<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Grocery Items index page</title>
    </head>
    <body>
        <h1>Grocery Items index page</h1>


        <nav>
          <a href="/groceryItems/new">Create a New Item</a>
        </nav>
    </body>
</html>
