<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>New Grocery Item page</title>
    </head>
    <body>
        <h1>New Grocery Item page</h1>
        <form action="/groceryItems" method="POST">
            Item Name: <input type="text" name="name" /><br/>
            <input type="submit" name="" value="Create Item"/>
        </form>
    </body>
</html>
