<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Grocery Item show page</title>
    </head>
    <body>
        <h1>Grocery Item show page</h1>

        <nav>
            <a href="/groceryItems">Back to Grocery Items Index</a>
        </nav>
    </body>
</html>
