<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Shopping List index page</title>
    </head>
    <body>
        <h1>Shopping List index page</h1>


    </body>
</html>
