<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="/css/style.css" />
      <title>New Grocery Item page</title>
  </head>
  <body>
    <div class="flex justify-center items-center">
      <div class="container flex rounded-lg my-4 p-4 mx-auto h-full bg-indigo-50 justify-center">
        <div class="flex gap-x-4 md:w-2/3 lg:w-1/3 xl:max-w-full">
          <div class="w-full bg-purple-200">
            <div class="my-4">
              <h1 class="text-center mb-3">New Grocery Item page</h1>
              <form action="/grocery-items" method="POST">
                <div class="mx-5">

                  <label for="name" class="uppercase">Item Name:</label>
                  <br /><input id="name" type="text" name="name" class="border w-full mb-3" />

                  <br /><label for="category" class="uppercase">Category:</label>
                  <br /><input id="category" type="text" name="category" value="<%=categoryName%>"
                    class="border w-full mb-3" />

                  <br /><label for="description" class="uppercase">Description:</label>
                  <br /><textarea id="description" name="description" style="resize:none; height:100px;"
                    class="border w-full mb-3"></textarea>

                  <br /><label for="price" class="uppercase">Price:</label>
                  <br /><input id="price" type="text" name="price" class="border w-full mb-3" />

                  <br /><label for="quantity" class="uppercase">Quantity:</label>
                  <br /><input price="quantity" type="text" name="quantity" class="border w-full mb-3" />

                  <label for="isOrganic" class="uppercase">is Organic:</label>
                  <input id="isOrganic" type="checkbox" name="isOrganic" class="border ml-2 mb-3" /><br />

                  <label for="isPurchased" class="uppercase">is Purchased: </label>
                  <input id="isPurchased" type="checkbox" name="isPurchased" class="border ml-2 mb-3" /><br />

                  <!-- rebuilding selection feature because it doesn't currently save shoppinglist to the database -->
                  <label for="shoppingList" class="uppercase">Choose a store:</label>
                  <select id="shoppingList" name="shoppingList" class="border w-full mb-7">
                    <% for (let i=0; i < shoppingLists.length; i++) { %>
                      <option value="<%=shoppingLists[i]._id%>">
                        <%=shoppingLists[i].storeName%>
                      </option>
                      <% } %>
                  </select>

                  <div class="flex justify-between">
                    <button class=" bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded-full">
                    <a href="/">Back</a>
                    </button>

                    <button class=" bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded-full" type="submit">
                      Add Item
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
  </body>
</html>
