<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>New Grocery Item page</title>
    </head>
    <body>
        <h1>New Grocery Item page</h1>
        <form action="/grocery-items" method="POST">
            <div>
            Item Name: <input type="text" name="name" /><br/>
            Category : <input type="text" name="category" /><br/>
            Description : <input type="textarea" name="description" /><br/>
            Price : <input type="text" name="price" /><br/>
            Quantity : <input type="text" name="quantity" /><br/>
            is Organic : <input type="checkbox" name="isOrganic" /><br/>
            is Purchased : <input type="checkbox" name="isPurchased" /><br/>
            </div>
            <div>
                <select name="shoppingLists">
                    <% for( let i = 0; i < shoppingLists.length; i++ ) { %>
                        <option value="<%=shoppingLists[i]._id%>"><%=shoppingLists[i].storeName%></option>
                    <% } %>
                </select>
            </div>
            <div>
            <input type="submit" name="" value="Create Item"/>
            </div>
        </form>
    </body>
</html>
